#skills-section .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    background-color: hsl(216, 70%, 55%); 
}

#skills-section h1{
    text-align: left;
    margin-bottom: -20px;
}

#skills-section p{
    gap: 0px;
}

#skills-section .textbox{
    max-width: 55%;
    width: auto;
}

#skills-section .textbox img{
    max-width: 85%;
    width: auto;
}

#skills-section .textbox button {
    text-decoration: none;
    background-color: hsl(216, 70%, 55%);
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    margin-left: -7px;
}

#skills-section .textbox button:hover h1{
    transform: scale(1.20);
    color: rgb(253,191,72);
}

#skills-section .skillsbox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 850px;
    text-align: right;
    gap: 5px;
    align-items: flex-end;
    justify-content: top;
    width: 40%;
    
}   

#skills-section .details{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 95px;
    text-align: center;
    gap: 12px;
    
}

#skills-section .skillslist button{
    background-color: hsl(216, 70%, 55%);
    color: white;
    padding: 2px 15px;
    border: none;
    cursor: pointer;
   
    font-family: Inter-Regular;
    font-size: 1.3em;
    display: inline-block;
}

#skills-section .skillslist button img{
    
    vertical-align: middle;
}

#skills-section .skillslist button:hover{
    transform: scale(1.20);
    color: rgb(253,191,72);
    
}

/*#skills-section #python-logo button img{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}*/
/*
#skills-section .details a{
    text-decoration: none;
    font-size: 3em;
}

#skills-section .details a:hover{
    font-size: 3.5em;
}*/

#skills-section .skillstextlist a{
    text-decoration: none;
    font-size: 1.4em;
}

@media screen and (max-width: 990px){
    #skills-section .container{
        flex-direction: column;
        align-items: center;
    }


    #skills-section .skillsbox{
        width: 100%;
        align-items: center;
        text-align: center;
        margin-right: 0px;
    }

    #skills-section .textbox{
        max-width: 85%;
        width: auto;
        text-align: center;
    }

    #skills-section h1{
        text-align: center;
    }

    #skills-section .details{
        align-items: center;
        text-align: center;
         margin-right: 0px;
    }

    #skills-section p{
        gap: 0px;
        margin-right: 0px;
    }
}
